<html>
<head>

  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- <script src="custom.js.erb" type="text/javascript"> </script> -->

  <script>

  function derp() {
    //alert(cubestate)
    $("#top > .face0").css("background-color", "red");
    //document.body.style.backgroundColor="red";

  };

  </script>

</head>

<body>

<div id="text">

<ul>
  <li>
    <a href='.'>Reset</a>
  </li>

  <li>
    <button type="button" id="scramble" onclick="derp();">derp</button>
  </li>

  <li>
    <button type="button" id="u"></button>
  </li>

  <li>
    <button type="button" id="d"></button>
  </li>

  <li>
    <button type="button" id="l"></button>
  </li>

  <li>
    <button type="button" id="r"></button>
  </li>

  <li>
    <button type="button" id="b"></button>
  </li>

  <li>
    <button type="button" id="f"></button>
  </li>

  <li>
    <button type="button" id="solve"></button>
  </li>

</div>

<div id="container">

  <div id = "bottom">

    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div>

  </div>

  <div id = "front">
    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div>
 </div>

  <div id = "top">
    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div>
  </div>

  <div id = "back">
    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div>
  </div>

  <div id = "left">
    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div></div>

  <div id = "right">
    <div class="face0">
    </div>
    <div class="face1">
    </div>
    <div class="face2">
    </div>
    <div class="face3">
    </div>
    <div class="face4">
    </div>
    <div class="face5">
    </div>
    <div class="face6">
    </div>
    <div class="face7">
    </div>
    <div class="face8">
    </div>
  </div>

</div>

</body>
</html>
