<html>

<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css" />
<script src="prefixfree.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="ajaxmoves.js"></script>


<script type="text/javascript">


var savex = -25;
var savey =  20;

document.onmousedown = function show_coords() {

    var starty = event.clientY - savey; 
    var startx = event.clientX - savex; 
    document.getElementById("scene").style.transition = "all 0s" 


  document.onmousemove = function() {

    event.preventDefault()

    var y = (event.clientY - starty) % 360;
    var x = (event.clientX - startx) % 360;

    //document.getElementById("scene").style.webkitTransform = "rotateX("+-(y % 360)+"deg) rotateY("+( y > 90 && y < 270 ? -(x % 360) : x % 360 )+"deg)";

    document.getElementById("scene").style.webkitTransform = "rotateX(" + -y + "deg) rotateY(" + x + "deg)";


    document.onmouseup = function() {
      document.onmousemove = null;

      document.getElementById("scene").style.transition = "all 0.2s ease-in-out" 
//this line would snap back to starting orientation
//      document.getElementById("scene").style.webkitTransform = "rotateX(-20deg) rotateY(-25deg)";
//this line would save the endpoint
      savex = x; savey = y;
    }
  }

}


</script>

</head>

<body>

<h1 style="text-align: center">Rubyk's Cube</h1>

  <div style="text-align:center">
      <button type="button" onclick="reset()">Reset</button>

      <button type="button" id="scramble" onclick="scramble()">Scramble</button>

      <button type="button" id="u" onclick="u()">U</button>

      <button type="button" id="d" onclick="d()">D</button>

      <button type="button" id="l" onclick="l()">L</button>

      <button type="button" id="r" onclick="r()">R</button>

      <button type="button" id="b" onclick="b()">B</button>

      <button type="button" id="f" onclick="f()">F</button>

      <button type="button" id="solve" onclick="solve()">Solve</button>
  </div>

<p></p>

<div id="tridiv" >
  <div class="scene" id="scene">
  <div id="topside">
    <div class="shape cuboid-1 cub-1">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-2 cub-2">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-3 cub-3">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-4 cub-4">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-5 cub-5">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-6 cub-6">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-7 cub-7">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-8 cub-8">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-9 cub-9">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
</div>
    <div class="shape cuboid-10 cub-10">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-11 cub-11">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-12 cub-12">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-13 cub-13">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-14 cub-14">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-15 cub-15">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-16 cub-16">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-17 cub-17">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-18 cub-18">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-19 cub-19">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-20 cub-20">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-21 cub-21">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-22 cub-22">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-23 cub-23">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-24 cub-24">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-25 cub-25">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-26 cub-26">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-27 cub-27">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-28 cub-28">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-29 cub-29">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-30 cub-30">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-31 cub-31">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-32 cub-32">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-33 cub-33">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-34 cub-34">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-35 cub-35">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-36 cub-36">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-37 cub-37">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-38 cub-38">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-39 cub-39">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-40 cub-40">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-41 cub-41">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-42 cub-42">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-43 cub-43">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-44 cub-44">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-45 cub-45">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-46 cub-46">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-47 cub-47">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-48 cub-48">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-49 cub-49">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-50 cub-50">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-51 cub-51">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-52 cub-52">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-53 cub-53">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-54 cub-54">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
    <div class="shape cuboid-55 cube-10">
      <div class="face ft"></div>
      <div class="face bk"></div>
      <div class="face rt"></div>
      <div class="face lt"></div>
      <div class="face bm"></div>
      <div class="face tp"></div>
    </div>
  </div>
</div>

</body>

<script>
    document.getElementById("scene").style.webkitTransform = "rotateX(-20deg) rotateY(-25deg)";
</script>
</html>
