/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 

body {
  font-family: helvetica;
}
 
.fade {
  z-index: -5;
  position: "relative";
}


.scene {
}


#tridiv {
  font-family: futura;
  text-align: center;
  perspective: 800px;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
  font-size: 112.5%;
}

.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.53);
}

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}

.scene {
  transform: rotateX(-90deg) rotateY(45deg);
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
  transition: all 0.3s ease-in-out;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(0em, -6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-1 .ft {
  transform:translateZ(2em);
}
.cub-1 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:4em;
  height:0em;
}
.cub-1 .tp, .cub-1 .bm {
  width:4em;
  height:4em;
}
.cub-1 .face {
  background-color:#FFFFFF;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(-4em, -6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-2 .ft {
  transform:translateZ(2em);
}
.cub-2 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:4em;
  height:0em;
}
.cub-2 .tp, .cub-2 .bm {
  width:4em;
  height:4em;
}
.cub-2 .face {
  background-color:#FFFFFF;
}
/* .cub-3 styles */
.cub-3 {
  transform:translate3D(-4em, -6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-3 .ft {
  transform:translateZ(2em);
}
.cub-3 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
  width:4em;
  height:0em;
}
.cub-3 .tp, .cub-3 .bm {
  width:4em;
  height:4em;
}
.cub-3 .face {
  background-color:#FFFFFF;
}
/* .cub-4 styles */
.cub-4 {
  transform:translate3D(0em, -6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-4 .ft {
  transform:translateZ(2em);
}
.cub-4 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt {
  width:4em;
  height:0em;
}
.cub-4 .tp, .cub-4 .bm {
  width:4em;
  height:4em;
}
.cub-4 .face {
  background-color:#FFFFFF;
}
/* .cub-5 styles */
.cub-5 {
  transform:translate3D(4em, -6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-5 .ft {
  transform:translateZ(2em);
}
.cub-5 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt {
  width:4em;
  height:0em;
}
.cub-5 .tp, .cub-5 .bm {
  width:4em;
  height:4em;
}
.cub-5 .face {
  background-color:#FFFFFF;
}
/* .cub-6 styles */
.cub-6 {
  transition: rotate 2s ease;
  transform:translate3D(4em, -6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-6 .ft {
  transform:translateZ(2em);
}
.cub-6 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-6 .rt, .cub-6 .lt {
  width:4em;
  height:0em;
}
.cub-6 .tp, .cub-6 .bm {
  width:4em;
  height:4em;
}
.cub-6 .face {
  background-color:#FFFFFF;
}
/* .cub-7 styles */
.cub-7 {
  transform:translate3D(4em, -6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-7 .ft {
  transform:translateZ(2em);
}
.cub-7 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-7 .rt, .cub-7 .lt {
  width:4em;
  height:0em;
}
.cub-7 .tp, .cub-7 .bm {
  width:4em;
  height:4em;
}
.cub-7 .face {
  background-color:#FFFFFF;
}
/* .cub-8 styles */
.cub-8 {
  transform:translate3D(0em, -6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-8 .ft {
  transform:translateZ(2em);
}
.cub-8 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-8 .rt, .cub-8 .lt {
  width:4em;
  height:0em;
}
.cub-8 .tp, .cub-8 .bm {
  width:4em;
  height:4em;
}
.cub-8 .face {
  background-color:#FFFFFF;
}
/* .cub-9 styles */
.cub-9 {
  transform:translate3D(-4em, -6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-9 .ft {
  transform:translateZ(2em);
}
.cub-9 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-9 .rt, .cub-9 .lt {
  width:4em;
  height:0em;
}
.cub-9 .tp, .cub-9 .bm {
  width:4em;
  height:4em;
}
.cub-9 .face {
  background-color:#FFFFFF;
}
/* .cub-10 styles */
.cub-10 {
  transform:translate3D(-6em, 0em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-10 .ft {
  transform:translateZ(0em);
}
.cub-10 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-10 .rt, .cub-10 .lt {
  width:0em;
  height:4em;
}
.cub-10 .tp, .cub-10 .bm {
  width:4em;
  height:0em;
}
.cub-10 .face {
  background-color:#FFFFFF;
}
/* .cub-11 styles */
.cub-11 {
  transform:translate3D(-6em, 4em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-11 .ft {
  transform:translateZ(0em);
}
.cub-11 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-11 .rt, .cub-11 .lt {
  width:0em;
  height:4em;
}
.cub-11 .tp, .cub-11 .bm {
  width:4em;
  height:0em;
}
.cub-11 .face {
  background-color:#FFFFFF;
}
/* .cub-12 styles */
.cub-12 {
  transform:translate3D(-6em, 4em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-12 .ft {
  transform:translateZ(0em);
}
.cub-12 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-12 .rt, .cub-12 .lt {
  width:0em;
  height:4em;
}
.cub-12 .tp, .cub-12 .bm {
  width:4em;
  height:0em;
}
.cub-12 .face {
  background-color:#FFFFFF;
}
/* .cub-13 styles */
.cub-13 {
  transform:translate3D(-6em, 0em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-13 .ft {
  transform:translateZ(0em);
}
.cub-13 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-13 .rt, .cub-13 .lt {
  width:0em;
  height:4em;
}
.cub-13 .tp, .cub-13 .bm {
  width:4em;
  height:0em;
}
.cub-13 .face {
  background-color:#FFFFFF;
}
/* .cub-14 styles */
.cub-14 {
  transform:translate3D(-6em, -4em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-14 .ft {
  transform:translateZ(0em);
}
.cub-14 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-14 .rt, .cub-14 .lt {
  width:0em;
  height:4em;
}
.cub-14 .tp, .cub-14 .bm {
  width:4em;
  height:0em;
}
.cub-14 .face {
  background-color:#FFFFFF;
}
/* .cub-15 styles */
.cub-15 {
  transform:translate3D(-6em, -4em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-15 .ft {
  transform:translateZ(0em);
}
.cub-15 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-15 .rt, .cub-15 .lt {
  width:0em;
  height:4em;
}
.cub-15 .tp, .cub-15 .bm {
  width:4em;
  height:0em;
}
.cub-15 .face {
  background-color:#FFFFFF;
}
/* .cub-16 styles */
.cub-16 {
  transform:translate3D(-6em, -4em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-16 .ft {
  transform:translateZ(0em);
}
.cub-16 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-16 .rt, .cub-16 .lt {
  width:0em;
  height:4em;
}
.cub-16 .tp, .cub-16 .bm {
  width:4em;
  height:0em;
}
.cub-16 .face {
  background-color:#FFFFFF;
}
/* .cub-17 styles */
.cub-17 {
  transform:translate3D(-6em, 0em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-17 .ft {
  transform:translateZ(0em);
}
.cub-17 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-17 .rt, .cub-17 .lt {
  width:0em;
  height:4em;
}
.cub-17 .tp, .cub-17 .bm {
  width:4em;
  height:0em;
}
.cub-17 .face {
  background-color:#FFFFFF;
}
/* .cub-18 styles */
.cub-18 {
  transform:translate3D(-6em, 4em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-18 .ft {
  transform:translateZ(0em);
}
.cub-18 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-18 .rt, .cub-18 .lt {
  width:0em;
  height:4em;
}
.cub-18 .tp, .cub-18 .bm {
  width:4em;
  height:0em;
}
.cub-18 .face {
  background-color:#FFFFFF;
}
/* .cub-19 styles */
.cub-19 {
  transform:translate3D(0em, 0em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-19 .ft {
  transform:translateZ(2em);
}
.cub-19 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-19 .rt, .cub-19 .lt {
  width:4em;
  height:4em;
}
.cub-19 .tp, .cub-19 .bm {
  width:0em;
  height:4em;
}
.cub-19 .face {
  background-color:#FFFFFF;
}
/* .cub-20 styles */
.cub-20 {
  transform:translate3D(-4em, 0em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-20 .ft {
  transform:translateZ(2em);
}
.cub-20 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-20 .rt, .cub-20 .lt {
  width:4em;
  height:4em;
}
.cub-20 .tp, .cub-20 .bm {
  width:0em;
  height:4em;
}
.cub-20 .face {
  background-color:#FFFFFF;
}
/* .cub-21 styles */
.cub-21 {
  transform:translate3D(-4em, 4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-21 .ft {
  transform:translateZ(2em);
}
.cub-21 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-21 .rt, .cub-21 .lt {
  width:4em;
  height:4em;
}
.cub-21 .tp, .cub-21 .bm {
  width:0em;
  height:4em;
}
.cub-21 .face {
  background-color:#FFFFFF;
}
/* .cub-22 styles */
.cub-22 {
  transform:translate3D(0em, 4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-22 .ft {
  transform:translateZ(2em);
}
.cub-22 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-22 .rt, .cub-22 .lt {
  width:4em;
  height:4em;
}
.cub-22 .tp, .cub-22 .bm {
  width:0em;
  height:4em;
}
.cub-22 .face {
  background-color:#FFFFFF;
}
/* .cub-23 styles */
.cub-23 {
  transform:translate3D(4em, 4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-23 .ft {
  transform:translateZ(2em);
}
.cub-23 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-23 .rt, .cub-23 .lt {
  width:4em;
  height:4em;
}
.cub-23 .tp, .cub-23 .bm {
  width:0em;
  height:4em;
}
.cub-23 .face {
  background-color:#FFFFFF;
}
/* .cub-24 styles */
.cub-24 {
  transform:translate3D(4em, 0em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-24 .ft {
  transform:translateZ(2em);
}
.cub-24 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-24 .rt, .cub-24 .lt {
  width:4em;
  height:4em;
}
.cub-24 .tp, .cub-24 .bm {
  width:0em;
  height:4em;
}
.cub-24 .face {
  background-color:#FFFFFF;
}
/* .cub-25 styles */
.cub-25 {
  transform:translate3D(4em, -4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-25 .ft {
  transform:translateZ(2em);
}
.cub-25 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-25 .rt, .cub-25 .lt {
  width:4em;
  height:4em;
}
.cub-25 .tp, .cub-25 .bm {
  width:0em;
  height:4em;
}
.cub-25 .face {
  background-color:#FFFFFF;
}
/* .cub-26 styles */
.cub-26 {
  transform:translate3D(0em, -4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-26 .ft {
  transform:translateZ(2em);
}
.cub-26 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-26 .rt, .cub-26 .lt {
  width:4em;
  height:4em;
}
.cub-26 .tp, .cub-26 .bm {
  width:0em;
  height:4em;
}
.cub-26 .face {
  background-color:#FFFFFF;
}
/* .cub-27 styles */
.cub-27 {
  transform:translate3D(-4em, -4em, -6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-27 .ft {
  transform:translateZ(2em);
}
.cub-27 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-27 .rt, .cub-27 .lt {
  width:4em;
  height:4em;
}
.cub-27 .tp, .cub-27 .bm {
  width:0em;
  height:4em;
}
.cub-27 .face {
  background-color:#FFFFFF;
}
/* .cub-28 styles */
.cub-28 {
  transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-28 .ft {
  transform:translateZ(0em);
}
.cub-28 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-28 .rt, .cub-28 .lt {
  width:0em;
  height:4em;
}
.cub-28 .tp, .cub-28 .bm {
  width:4em;
  height:0em;
}
.cub-28 .face {
  background-color:#FFFFFF;
}
/* .cub-29 styles */
.cub-29 {
  transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-29 .ft {
  transform:translateZ(0em);
}
.cub-29 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-29 .rt, .cub-29 .lt {
  width:0em;
  height:4em;
}
.cub-29 .tp, .cub-29 .bm {
  width:4em;
  height:0em;
}
.cub-29 .face {
  background-color:#FFFFFF;
}
/* .cub-30 styles */
.cub-30 {
  transform:translate3D(6em, -4em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-30 .ft {
  transform:translateZ(0em);
}
.cub-30 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-30 .rt, .cub-30 .lt {
  width:0em;
  height:4em;
}
.cub-30 .tp, .cub-30 .bm {
  width:4em;
  height:0em;
}
.cub-30 .face {
  background-color:#FFFFFF;
}
/* .cub-31 styles */
.cub-31 {
  transform:translate3D(6em, 0em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-31 .ft {
  transform:translateZ(0em);
}
.cub-31 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-31 .rt, .cub-31 .lt {
  width:0em;
  height:4em;
}
.cub-31 .tp, .cub-31 .bm {
  width:4em;
  height:0em;
}
.cub-31 .face {
  background-color:#FFFFFF;
}
/* .cub-32 styles */
.cub-32 {
  transform:translate3D(6em, 4em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-32 .ft {
  transform:translateZ(0em);
}
.cub-32 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-32 .rt, .cub-32 .lt {
  width:0em;
  height:4em;
}
.cub-32 .tp, .cub-32 .bm {
  width:4em;
  height:0em;
}
.cub-32 .face {
  background-color:#FFFFFF;
}
/* .cub-33 styles */
.cub-33 {
  transform:translate3D(6em, 4em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-33 .ft {
  transform:translateZ(0em);
}
.cub-33 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-33 .rt, .cub-33 .lt {
  width:0em;
  height:4em;
}
.cub-33 .tp, .cub-33 .bm {
  width:4em;
  height:0em;
}
.cub-33 .face {
  background-color:#FFFFFF;
}
/* .cub-34 styles */
.cub-34 {
  transform:translate3D(6em, 4em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-34 .ft {
  transform:translateZ(0em);
}
.cub-34 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-34 .rt, .cub-34 .lt {
  width:0em;
  height:4em;
}
.cub-34 .tp, .cub-34 .bm {
  width:4em;
  height:0em;
}
.cub-34 .face {
  background-color:#FFFFFF;
}
/* .cub-35 styles */
.cub-35 {
  transform:translate3D(6em, 0em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-35 .ft {
  transform:translateZ(0em);
}
.cub-35 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-35 .rt, .cub-35 .lt {
  width:0em;
  height:4em;
}
.cub-35 .tp, .cub-35 .bm {
  width:4em;
  height:0em;
}
.cub-35 .face {
  background-color:#FFFFFF;
}
/* .cub-36 styles */
.cub-36 {
  transform:translate3D(6em, -4em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-36 .ft {
  transform:translateZ(0em);
}
.cub-36 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cub-36 .rt, .cub-36 .lt {
  width:0em;
  height:4em;
}
.cub-36 .tp, .cub-36 .bm {
  width:4em;
  height:0em;
}
.cub-36 .face {
  background-color:#FFFFFF;
}
/* .cub-37 styles */
.cub-37 {
  transform:translate3D(0em, 0em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-37 .ft {
  transform:translateZ(2em);
}
.cub-37 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-37 .rt, .cub-37 .lt {
  width:4em;
  height:4em;
}
.cub-37 .tp, .cub-37 .bm {
  width:0em;
  height:4em;
}
.cub-37 .face {
  background-color:#FFFFFF;
}
/* .cub-38 styles */
.cub-38 {
  transform:translate3D(-4em, 0em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-38 .ft {
  transform:translateZ(2em);
}
.cub-38 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-38 .rt, .cub-38 .lt {
  width:4em;
  height:4em;
}
.cub-38 .tp, .cub-38 .bm {
  width:0em;
  height:4em;
}
.cub-38 .face {
  background-color:#FFFFFF;
}
/* .cub-39 styles */
.cub-39 {
  transform:translate3D(-4em, -4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-39 .ft {
  transform:translateZ(2em);
}
.cub-39 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-39 .rt, .cub-39 .lt {
  width:4em;
  height:4em;
}
.cub-39 .tp, .cub-39 .bm {
  width:0em;
  height:4em;
}
.cub-39 .face {
  background-color:#FFFFFF;
}
/* .cub-40 styles */
.cub-40 {
  transform:translate3D(0em, -4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-40 .ft {
  transform:translateZ(2em);
}
.cub-40 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-40 .rt, .cub-40 .lt {
  width:4em;
  height:4em;
}
.cub-40 .tp, .cub-40 .bm {
  width:0em;
  height:4em;
}
.cub-40 .face {
  background-color:#FFFFFF;
}
/* .cub-41 styles */
.cub-41 {
  transform:translate3D(4em, -4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-41 .ft {
  transform:translateZ(2em);
}
.cub-41 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-41 .rt, .cub-41 .lt {
  width:4em;
  height:4em;
}
.cub-41 .tp, .cub-41 .bm {
  width:0em;
  height:4em;
}
.cub-41 .face {
  background-color:#FFFFFF;
}
/* .cub-42 styles */
.cub-42 {
  transform:translate3D(4em, 0em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-42 .ft {
  transform:translateZ(2em);
}
.cub-42 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-42 .rt, .cub-42 .lt {
  width:4em;
  height:4em;
}
.cub-42 .tp, .cub-42 .bm {
  width:0em;
  height:4em;
}
.cub-42 .face {
  background-color:#FFFFFF;
}
/* .cub-43 styles */
.cub-43 {
  transform:translate3D(4em, 4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-43 .ft {
  transform:translateZ(2em);
}
.cub-43 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-43 .rt, .cub-43 .lt {
  width:4em;
  height:4em;
}
.cub-43 .tp, .cub-43 .bm {
  width:0em;
  height:4em;
}
.cub-43 .face {
  background-color:#FFFFFF;
}
/* .cub-44 styles */
.cub-44 {
  transform:translate3D(0em, 4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-44 .ft {
  transform:translateZ(2em);
}
.cub-44 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-44 .rt, .cub-44 .lt {
  width:4em;
  height:4em;
}
.cub-44 .tp, .cub-44 .bm {
  width:0em;
  height:4em;
}
.cub-44 .face {
  background-color:#FFFFFF;
}
/* .cub-45 styles */
.cub-45 {
  transform:translate3D(-4em, 4em, 6em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:0em;
  height:4em;
  margin:-2em 0 0 0em;
}
.cub-45 .ft {
  transform:translateZ(2em);
}
.cub-45 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-45 .rt, .cub-45 .lt {
  width:4em;
  height:4em;
}
.cub-45 .tp, .cub-45 .bm {
  width:0em;
  height:4em;
}
.cub-45 .face {
  background-color:#FFFFFF;
}
/* .cub-46 styles */
.cub-46 {
  transform:translate3D(0em, 6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-46 .ft {
  transform:translateZ(2em);
}
.cub-46 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-46 .rt, .cub-46 .lt {
  width:4em;
  height:0em;
}
.cub-46 .tp, .cub-46 .bm {
  width:4em;
  height:4em;
}
.cub-46 .face {
  background-color:#FFFFFF;
}
/* .cub-47 styles */
.cub-47 {
  transform:translate3D(-4em, 6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-47 .ft {
  transform:translateZ(2em);
}
.cub-47 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-47 .rt, .cub-47 .lt {
  width:4em;
  height:0em;
}
.cub-47 .tp, .cub-47 .bm {
  width:4em;
  height:4em;
}
.cub-47 .face {
  background-color:#FFFFFF;
}
/* .cub-48 styles */
.cub-48 {
  transform:translate3D(-4em, 6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-48 .ft {
  transform:translateZ(2em);
}
.cub-48 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-48 .rt, .cub-48 .lt {
  width:4em;
  height:0em;
}
.cub-48 .tp, .cub-48 .bm {
  width:4em;
  height:4em;
}
.cub-48 .face {
  background-color:#FFFFFF;
}
/* .cub-49 styles */
.cub-49 {
  transform:translate3D(0em, 6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-49 .ft {
  transform:translateZ(2em);
}
.cub-49 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-49 .rt, .cub-49 .lt {
  width:4em;
  height:0em;
}
.cub-49 .tp, .cub-49 .bm {
  width:4em;
  height:4em;
}
.cub-49 .face {
  background-color:#FFFFFF;
}
/* .cub-50 styles */
.cub-50 {
  transform:translate3D(4em, 6em, 4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-50 .ft {
  transform:translateZ(2em);
}
.cub-50 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-50 .rt, .cub-50 .lt {
  width:4em;
  height:0em;
}
.cub-50 .tp, .cub-50 .bm {
  width:4em;
  height:4em;
}
.cub-50 .face {
  background-color:#FFFFFF;
}
/* .cub-51 styles */
.cub-51 {
  transform:translate3D(4em, 6em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-51 .ft {
  transform:translateZ(2em);
}
.cub-51 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-51 .rt, .cub-51 .lt {
  width:4em;
  height:0em;
}
.cub-51 .tp, .cub-51 .bm {
  width:4em;
  height:4em;
}
.cub-51 .face {
  background-color:#FFFFFF;
}
/* .cub-52 styles */
.cub-52 {
  transform:translate3D(4em, 6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-52 .ft {
  transform:translateZ(2em);
}
.cub-52 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-52 .rt, .cub-52 .lt {
  width:4em;
  height:0em;
}
.cub-52 .tp, .cub-52 .bm {
  width:4em;
  height:4em;
}
.cub-52 .face {
  background-color:#FFFFFF;
}
/* .cub-53 styles */
.cub-53 {
  transform:translate3D(0em, 6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-53 .ft {
  transform:translateZ(2em);
}
.cub-53 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-53 .rt, .cub-53 .lt {
  width:4em;
  height:0em;
}
.cub-53 .tp, .cub-53 .bm {
  width:4em;
  height:4em;
}
.cub-53 .face {
  background-color:#FFFFFF;
}
/* .cub-54 styles */
.cub-54 {
  transform:translate3D(-4em, 6em, -4em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:0em;
  margin:0em 0 0 -2em;
}
.cub-54 .ft {
  transform:translateZ(2em);
}
.cub-54 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-54 .rt, .cub-54 .lt {
  width:4em;
  height:0em;
}
.cub-54 .tp, .cub-54 .bm {
  width:4em;
  height:4em;
}
.cub-54 .face {
  background-color:#FFFFFF;
}
/* .cube-10 styles */
.cube-10 {
  transform:translate3D(-6em, 0em, 0em) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cube-10 .ft {
  transform:translateZ(0em);
}
.cube-10 .bk {
  transform:translateZ(0em) rotateY(180deg);
}
.cube-10 .rt, .cube-10 .lt {
  width:0em;
  height:4em;
}
.cube-10 .tp, .cube-10 .bm {
  width:4em;
  height:0em;
}
.cube-10 .face {
  background-color:#FFFFFF;
}
